@using Forum.Models.Answers
@model IEnumerable<Forum.Models.Answers.IAnswer>


@foreach (var answer in Model)
{
    <div class="answer">
        <div>
            @{
                var answerTypeName = answer.GetType()
                    .Name;

                if (answerTypeName == "RegisteredUserAnswer")
                {
                    var registeredUserAnswer = (RegisteredUserAnswer)answer;
                    var authorImageSrc = registeredUserAnswer.Author.GetProfileImageSrc();
                    @registeredUserAnswer.Author.UserName
                    @Html.ActionLink("Delete Answer", "Delete", new { id = registeredUserAnswer.Id })
                    <img src="@authorImageSrc" />

                }
                else if (answerTypeName == "AnonymousUserAnswer")
                {
                    var anonymousUserAnswer = (AnonymousUserAnswer)answer;
                    @anonymousUserAnswer.Email
                    @Html.ActionLink("Delete Answer", "Delete", new { id = anonymousUserAnswer.Id })
                }
                <br>
                @:Created On: @answer.CreationDate
                <div>
                    @{
                        var points = answer.PositivePoints - answer.NegativePoints;
                    }

                    Points: @points
                </div>
                <p>
                    <div class="answerBody">
                        @answer.Body
                    </div>
                </p>

            }

            @using (Html.BeginForm("ReplyToAnswer", "Answer", FormMethod.Post, new
            {
                id = "replyToAnswerForm"
            }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="forumThreadId" id="forumThreadId" value="@answer.ForumThread.Id" />
                <input type="hidden" name="parentAnswerId" id="parentAnswerId" value="@answer.Id" />
                <input type="hidden" name="parentAnswerType" id="parentAnswerType" value="@answer.GetType().Name" />
                <input type="hidden" name="previousPageUrl" id="previousPageUrl" value="/ForumThread/Details/@answer.ForumThread.Id" />

                if (!User.Identity.IsAuthenticated)
                {
                    <input type="email" name="email" id="email" value="" />
                }

                @Html.TextBox("replyBody")

                <input type="submit" value="Reply" />
            }

        </div>
        <div class="answerResponses">
            @{
                if (answer.Replies != null && answer.Replies.Count > 0)
                {
                    Html.RenderPartial("AnswerView", answer.Replies);
                }
            }
        </div>
    </div>
                }
