@model Forum.Models.ForumThreadDetailsModelView

<div class="authorpost">
    <div>
        <h4>@Html.DisplayFor(model => model.Thread.Title)</h4>
        <hr />
        <div>
            @Html.DisplayFor(model => model.Thread.Body)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Thread.CreationDate)
            @Html.DisplayFor(model => model.Thread.CreationDate)
        </div>
    </div>
</div>

<div class="row">
    <h4 style="text-align: center">Answers</h4>
</div>

<div class="reply-div">
    @using (Html.BeginForm("ReplyToThread", "ForumThread", FormMethod.Post, new
    {
        id = "userReplyForm"
    }))
    {
        @Html.AntiForgeryToken()

        <hr />

        <input type="hidden" name="forumThreadId" id="forumThreadId" value="@Model.Thread.Id"/>
        <input type="hidden" name="previousPageUrl" id="previousPageUrl" value="/ForumThread/Details/@Model.Thread.Id" />

        if (!User.Identity.IsAuthenticated)
        {
            <input placeholder="email4ence ;)" type="email" name="email" id="email" value="" />
        }

        @Html.TextBox("replyBody")

        <input type="submit" value="Reply"/>

       
    }
</div>


@{
    if (Model.Answers != null && Model.Answers.Count > 0)
    {
        Html.RenderPartial("AnswerView", Model.Answers);
    }
}


