@model Forum.Models.ForumThreadDetailsModelView

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>@Html.DisplayFor(model => model.Thread.Title)</h4>
        <hr />
        <div class="row">
            @Html.DisplayFor(model => model.Thread.Body)
        </div>
        <div class="row">
            @Html.DisplayNameFor(model => model.Thread.CreationDate)

            @Html.DisplayFor(model => model.Thread.CreationDate)
        </div>
    </div>
</div>

<div class="row">
    <input type="button" id="replyButton" value="Reply" />

</div>
<div class="row">
    
        @using (Html.BeginForm("ThreadReply", "ForumThread", FormMethod.Post, new { id = "registeredUserReplyForm" }))
        {
            @Html.AntiForgeryToken();
            <input type="hidden" name="forumThreadId" id="forumThreadId" value="@Model.Thread.Id"/>
            <input type="hidden" name="previousPageUrl" id="previousPageUrl" value="/ForumThread/Details/@Model.Thread.Id"/>
            <input type="hidden" name="email" id="email" value=""/>

            @Html.TextBox("answerBody");

            <input type="submit" value="Reply" />
        }

</div>
<div class="row">
    <h4 style="text-align: center">Answers</h4>
</div>

<hr />

@{
    if (Model.Answers != null && Model.Answers.Count > 0)
    {
        Html.RenderPartial("AnswerView", Model.Answers);
    }
}

<script>
    $("#replyButton")
</script>