@model IEnumerable<Forum.Models.ForumThread>
    
@foreach (var thread in Model)
{
    <div class="row">
        <div style="text-align: center">
            <a href="/ForumThread/Details/@thread.Id">@thread.Title</a>
        </div>
        <div class="col-md-2">
            @if (thread.Author != null)
            {
                var authorImageSrc = thread.Author.GetProfileImageSrc();
                @thread.Author.UserName
                <img src="@authorImageSrc"/>
                @:Created On: @thread.CreationDate
            }
            else
            {
                @thread.Title
            }
        </div>
    </div>
}