@{
    ViewBag.Title = "Users";
}

@model List<Forum.Models.ApplicationUser>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Score
        </th>
        <th>
            Total Points
        </th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @if (user.QuestionCount <= 0)
                {
                    <span>0</span>
                }
                else
                {
                    @user.Score
                }
            </td>
            <td>
                @user.PointCount
            </td>
        </tr>
    }
</table>