@using Forum.Extensions
@model List<Forum.Models.ApplicationUser>

@if (Model.Any())
{
    foreach (var user in Model)
    {
        <h3>@user.UserName</h3>

        if (ApplicationUserUtils.IsAdmin(user.Id))
        {
            @Html.ActionLink("Remove from Admin role", "RemoveAdmin", new { id = user.Id })
        }
        else
        {
            @Html.ActionLink("Promote to Admin role", "AddAdmin", new { id = user.Id })
        }
        <br/>
        if (ApplicationUserUtils.isBanned(user.Id))
        {
            @Html.ActionLink("Unban user", "UnbanUser", new {id = user.Id})
        }
        else
        {
            @Html.ActionLink("Ban user", "BanUser", new { id = user.Id })
        }
        <br/>
        @Html.ActionLink("Delete user", "DeleteUser", new { id = user.Id })
    }
}
else
{
    <div>No result</div>
}


